@using bill_Entities.Models
@using bill_Entities.ViewModel
@model SalesViewModel;
@inject bill_Entities.Repoistory.IItemRepoistory Item;
@inject bill_Entities.Repoistory.IClientRepoistory Client;


@{
    ViewBag.PageTitle = @SharedLocalizer["BillManagement"];
    ViewBag.CardTitle = @SharedLocalizer["CreateData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["ClientName"]</label>
                <select asp-for="ClientId" required class="form-control">
                    <option disabled selected>--Select Client--</option>
                    @foreach(var item in Client.GetAll())
                    {
                        <option value="@item.Id">@item.ClientName</option>
                    }
                </select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["ItemName"]</label>
                <select asp-for="TableItemId" required class="form-control">
                    <option disabled selected>--Select Item--</option>
                    @foreach(var item in Item.GetAll())
                    {
                        <option value="@item.Id">@item.ItemName</option>
                    }
                </select>
                <span asp-validation-for="TableItemId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["Quantity"]</label>
                <input asp-for="Quintity"  class="form-control" />
                <span asp-validation-for="Quintity" class="text-danger"></span>
            </div>
         
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["Discount"]</label>
                <input asp-for="Discount"  class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
           
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["PaidUp"]</label>
                <input asp-for="PaidUp"  class="form-control" />
                <span asp-validation-for="PaidUp" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" value="Create" class="btn btn-outline-success" style="width:120px;height:40px">@SharedLocalizer["btnSave"]</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="SalesInvoice">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
