@using bill_Entities.ViewModel

@model SalesInvoice

@{
    ViewBag.PageTitle = @SharedLocalizer["BillManagement"];
    ViewBag.CardTitle = @SharedLocalizer["DeleteData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteBill" method="post">
            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label>@SharedLocalizer["Number"]</label>
                <input asp-for="@Model.BillsCode" disabled class="form-control" />
                <span asp-validation-for="@Model.BillsCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>@SharedLocalizer["Price"]</label>
                <input asp-for="@Model.Price" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label>@SharedLocalizer["Total"]</label>
                <input asp-for="@Model.Total" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label>@SharedLocalizer["NetTotal"]</label>
                <input asp-for="@Model.NetPrice" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-danger" style="width:120px; height:40px;">@SharedLocalizer["btnDelete"]</button> ||
                <a asp-action="Index" asp-controller="SalesInvoice" class="btn btn-outline-success" style="width:120px; height:40px;">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}