@model Unit

@{
    ViewBag.PageTitle = @SharedLocalizer["UnitManagement"];
    ViewBag.CardTitle = @SharedLocalizer["DeleteData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteUnit" method="post">
            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label> @SharedLocalizer["TextName"]</label>
                <input asp-for="UnitName" disabled class="form-control" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label> @SharedLocalizer["NotesCompent"]</label>
                <input asp-for="Notes" disabled class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" asp-area="Admin" asp-action="DeleteUnit" asp-controller="Unit" class="btn btn-outline-danger" style="width:120px; height:40px;">@SharedLocalizer["btnDelete"]</button> ||
                <a asp-action="Index" asp-controller="Unit" class="btn btn-outline-success" style="width:120px; height:40px;">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}