@using bill_Entities.Models
@using bill_Entities.ViewModel
@model IEnumerable<UnitViewModel>

@{
    ViewBag.PageTitle = @SharedLocalizer["UnitManagement"] ;
    ViewBag.CardTitle = @SharedLocalizer["UnitList"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4 col-12">
            <a class="btn btn-outline-primary btn-sm py-1 px-4 mt-0 animate__animated animate__fadeInUp" style="width: 100%;" asp-controller="Unit" asp-action="Create">@SharedLocalizer["btnAdd"]</a>
        </div>
       
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@SharedLocalizer["TextName"]</th>
                    <th scope="col">@SharedLocalizer["NotesCompent"]</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UnitName</td>
                        <td>@Html.Raw(item.Notes)</td>
                        <td>
                            <a href="/Admin/Unit/Edit/@item.Id" class="btn btn-outline-success btn-sm">@SharedLocalizer["btnEdit"]</a>
                            <a href="/Admin/Unit/Delete/@item.Id" class="btn btn-outline-danger btn-sm">@SharedLocalizer["btnDelete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
