@using bill_Entities.Models
@using bill_Entities.ViewModel
@model ClientViewModel

@{
    ViewBag.PageTitle = @SharedLocalizer["ClientManagement"];
    ViewBag.CardTitle = @SharedLocalizer["CreateData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="validateNumber(event)" asp-controller="Client" method="post">
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["TextName"] </label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["Phone"] </label>
                <input asp-for="Phone" onclick="validateNumber(event)" id="inputNum" class="form-control" />
                <span asp-validation-for="Phone" id="error" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label"> @SharedLocalizer["Number"] </label>
                <input asp-for="Number" type="number" disabled class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label"> @SharedLocalizer["Address"]</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success" style="width:120px;height:40px">@SharedLocalizer["btnSave"]</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="Client">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>


<script>

    function validateNumber(event){
        var inputField = document.getElementById("inputNum");
        var value = inputField.value;

        if (isNaN(value) || value === "") {
            document.getElementById("error").innerHTML = "Please enter a valid number!";
            event.preventDefault();
        }
        else{
            document.getElementById("error").innerHTML = "";
        }


    }


</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
