@page
@using bill_Entities.Const
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center text-primary">@ViewData["Title"]</h3>
                    <section>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <hr />

                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                            <div class="form-floating mb-3">
                                <label asp-for="Input.Name" class="form-label">Name</label>
                                <input asp-for="Input.Name" type="text" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <label asp-for="Input.Address" class="form-label">Address</label>
                                <input asp-for="Input.Address" type="text" class="form-control" placeholder="Address" />
                                <span asp-validation-for="Input.Address" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <input asp-for="Input.Email" type="email" class="form-control" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <label asp-for="Input.City" class="form-label">City</label>
                                <input asp-for="Input.City" type="text" class="form-control" placeholder="City" />
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-4">
                                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            @if (User.IsInRole(Constants.Admin))
                            {
                                <div class="mb-3">
                                    <label class="form-label">Role</label>
                                    <div>
                                        <input type="radio" value="@Constants.Admin" name="RoleRadio" id="adminRole" />
                                        <label for="adminRole" class="form-check-label">@Constants.Admin</label>
                                    </div>
                                    <div>
                                        <input type="radio" value="@Constants.User" name="RoleRadio" id="userRole" />
                                        <label for="userRole" class="form-check-label">@Constants.User</label>
                                    </div>
                                    <div>
                                        <input type="radio" value="@Constants.Editor" name="RoleRadio" id="editorRole" />
                                        <label for="editorRole" class="form-check-label">@Constants.Editor</label>
                                    </div>
                                </div>
                            }

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="w-100 btn btn-lg btn-primary">
                                    @if (User.IsInRole(Constants.Admin))
                                    {
                                        <text>Create new User</text>
                                    }
                                    else
                                    {
                                        <text>Register</text>
                                    }
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
