@using bill_Entities.Models
@using bill_Entities.ViewModel
@model ItemViewModel;
@inject bill_Entities.Repoistory.ICompanyRepoistory Comp;
@inject bill_Entities.Repoistory.ITypeRepoistory Type;

 
@{
    ViewBag.PageTitle = @SharedLocalizer["ItemManagement"];
    ViewBag.CardTitle = @SharedLocalizer["CreateData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem" method="post">
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["CompanyName"]</label>
                <select asp-for="CompanyId" required class="form-control">
                    <option disabled selected>--Select Company--</option>
                    @foreach(var item in Comp.GetAll())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["TypeName"]</label>
                <select asp-for="TypeId" required class="form-control" asp-items="Model.TypeList">
                    <option disabled selected>--Select Type--</option>
                    @foreach(var item in Type.GetAll())
                    {
                        <option value="@item.Id">@item.TypeName</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["ItemName"]</label>
                <input asp-for="ItemName" required class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["SellingPrice"]</label>
                <input asp-for="SellingPrice" required class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["BuyingPrice"]</label>
                <input asp-for="BuyingPrice" required class="form-control" />
                <span asp-validation-for="BuyingPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["NotesCompent"]</label>
                <textarea asp-for="Notes" required class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" value="Create" class="btn btn-outline-success" style="width:120px;height:40px">@SharedLocalizer["btnSave"]</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="Item">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
