@using bill_Entities.Models
@using bill_Entities.ViewModel
@model ItemViewModel;
@inject bill_Entities.Repoistory.ICompanyRepoistory Comp;
@inject bill_Entities.Repoistory.ITypeRepoistory Type;
@{
    ViewBag.PageTitle = @SharedLocalizer["ItemManagement"];
    ViewBag.CardTitle = @SharedLocalizer["EditData"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Item" method="post">
            <input hidden asp-for="Id" />
            <div class="mb-3">
                <label class="form-label">Company Name</label>
                <select id="companySelect" asp-for="CompanyId" class="form-control">
                    <option disabled selected>--Select Company--</option>
                    @foreach (var company in Model.CompanyList)
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Type Name</label>
                <select id="typesSelect" asp-for="TypeId" class="form-control">
                    <option disabled selected>--Select Type--</option>
                    @foreach (var type in Model.TypeList)
                    {
                        <option value="@type.Id">@type.TypeName</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["ItemName"]</label>
                <input asp-for="ItemName" required class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["SellingPrice"]</label>
                <input asp-for="SellingPrice" required class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["BuyingPrice"]</label>
                <input asp-for="BuyingPrice" required class="form-control" />
                <span asp-validation-for="BuyingPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">@SharedLocalizer["NotesCompent"]</label>
                <textarea asp-for="Notes" required class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" asp-area="Admin" asp-action="Edit" asp-controller="Item" class="btn btn-outline-success" style="width:120px;height:40px">@SharedLocalizer["btnSave"]</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="Item">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
<script>
    $(document).ready(function () {
        $('#companySelect').change(function () {
            var companyId = $(this).val();

            $.ajax({
                url: '@Url.Action("GetTypesByCompany", "Item")',
                type: 'GET',
                data: { companyId: companyId },
                success: function (data) {
                    $('#typesSelect').empty();

                    $.each(data, function (index, type) {
                        $('#typesSelect').append('<option value="' + type.id + '">' + type.typeName + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching types: " + error);
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#companySelect').change(function () {
            var companyId = $(this).val();
            if (companyId) {
                $.ajax({
                    url: '@Url.Action("GetTypesByCompanyId", "Item")',
                    type: 'GET',
                    data: { companyId: companyId },
                    success: function (data) {
                        var typesSelect = $('#typesSelect');
                        typesSelect.empty();
                        typesSelect.append('<option disabled selected>--Select Type--</option>');
                        $.each(data, function (index, type) {
                            typesSelect.append('<option value="' + type.id + '">' + type.typeName + '</option>');
                        });
                    }
                });
            }
        });
    });
</script>