@using bill_Entities.Models
@using bill_Entities.Repoistory
@using bill_Entities.ViewModel
@model ReportViewModel
@inject ISalesInvoiceRepoistory Sales;
@{
    ViewBag.PageTitle = @SharedLocalizer["ReportManagement"];
    ViewBag.CardTitle = @SharedLocalizer["CreateData"]; 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Report" method="post">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["SalesList"];</label>
                <select asp-for="SalesId" class="form-control">
                    <option disabled selected>--Select Sales Date--</option>
                    @foreach (var item in Sales.GetAll())
                    {
                        <option value="@item.Id">@item.DateTime.ToShortDateString()</option>
                    }
                </select>
                <span asp-validation-for="SalesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["From"]</label>
                <input asp-for="ReportFrom" class="form-control" />
                <span asp-validation-for="ReportFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["To"]</label>
                <input asp-for="ReportTo" class="form-control" />
                <span asp-validation-for="ReportTo" class="text-danger"></span>
            </div>
           
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success" style="width:120px;height:40px">@SharedLocalizer["btnSave"]</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="Report">@SharedLocalizer["btnGoHome"]</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
