@using bill_Entities.Models
@using bill_Entities.ViewModel
@model IEnumerable<ReportViewModel>

@{
    ViewBag.PageTitle = @SharedLocalizer["ReportManagement"];
    ViewBag.CardTitle = @SharedLocalizer["ReportList"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-4 col-12">
            <a class="btn btn-outline-primary btn-sm py-1 px-4 mt-0 animate__animated animate__fadeInUp" style="width: 100%;" asp-controller="Report" asp-action="Create">Add Report</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> @SharedLocalizer["From"]</th>
                    <th scope="col"> @SharedLocalizer["To"]</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReportFrom.ToString("yyyy-MM-dd (hh:mm tt)")</td>
                        <td>@Html.Raw(item.ReportTo.ToString("yyyy-MM-dd (hh:mm tt)"))</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
